<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
  xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>InterestRateRefreshServlet</servlet-name>
		<servlet-class>com.conlan.compound.servlet.InterestRateRefreshServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InterestRateRefreshServlet</servlet-name>
		<url-pattern>/refreshrates</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
